script(src="/adminlte/plugins/jQuery/jQuery-2.1.3.min.js")
script(src="/adminlte/bootstrap/js/bootstrap.min.js")
script(src="/adminlte/dist/js/app.min.js")
script(src="/adminlte/plugins/iCheck/icheck.min.js")
